.jumbotron{
    color: rgb(252, 252, 252);
    background-color: #A8DEDD;
    margin-top: 50px;
    background-image: url("../header_mau_cook.jpeg");
    background-size: cover;

}
.btn{
    background-color: #eb6cda;
}
.btn-primary {
    color: #fff;
    background-color: #ff75f8;
    border-color: #ff75f8;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #d49fcd;
    border-color: #d49fcd;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #915d85;
    border-color: #915d85;
    box-shadow: 0 0 0 0.2rem rgba(248, 38, 255, 0.5);
  }

  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #8d1f7e;
    border-color: #8d1f7e;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8d1f7e;
    border-color: #8d1f7e;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 38, 255, 0.5);
  }
.btn-vw-receta{
    width:100%;
}
.card-receta{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 5px;

}
.card-group{
    background-image: url(https://www.diabetes.org/sites/default/files/styles/paragraph_50_50/public/2019-08/Diabetes-Superfoods-min.jpg);
    background-size: cover;
    border-radius: 10px;
    background-attachment: fixed;
}
footer{
    background-color: #cfcfcf;
    padding: 20px 0px 0px 0px;
    margin: 10px 3px 3px 3px;

}